nav {
  background-color: #111111;
  color: #38b6ff;
  padding: 20px;
}
h3 {
  color: #ffffff;
}
span {
  color: #88eeea;
}
a {
  text-decoration: none;
  color: #aaaaff;
}
div {
  color: #38b6ff;
}
